* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $color-primary;
    font-family: Roboto;
}

.color-green {
    background-color: $color-green;
}

.color-red {
    background-color: $color-red;
}
.color-black {
    background-color: $color-black;
}